body {
	margin: 0; 
	padding: 0px;
    background-color: #9b9;
}
div.wrapper {
	line-height: 10vh;
	margin:0 auto;
	border: 2px solid #9b9;
	padding: 0px;
	vertical-align: middle;
    text-align: center;
}
div.field {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
	margin: auto;
	width: 95vh;
	height: 95vh;
	box-sizing: border-box;
}
div.push {
	display: inline-block;
	margin:auto; 
	width: 20vh;
	height: 100vh;
	background-color: #ada;
}
div.back_block {
	box-sizing: border-box;
	float: left; 
	border:1px solid #9b9; 
	border-radius: 3px; 
	display: inline-block; 
	width: 10%; 
	height: 10%;
}
div.hover_block {
	box-sizing: border-box;
	float: left;
	border-radius: 3px; 
	display: inline-block; 
	width: 10%; 
	height: 10%;
	z-index: 900;
}
div.back_block1:before {
	background-color: #fff;
	width: 10%;
	height: 10%;
	position: absolute;
	content: "";
	z-index: 1000;
	opacity: .5;
}

.red {
	background-color: #a77;
}
.green {
	background-color: #7a7;
}
.blue {
	background-color: #77a;
}