<html ng-app="notTetris">
	<head>
		<link rel="stylesheet" href="css/main.css">
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Something</title>
	</head>

	<body ng-controller="NotTetrisController">
    	<div id="field_wrapper" class="field">
			<div ng-repeat="backBlock in backBlocks" class="back_block {{backBlock.color}} {{backBlock.active}}" id="{{id}}" ng-click="if (backBlock.active=='') {backBlock.active='active'} else {backBlock.active=''}">

			</div>
    	</div>
	</body>

</html>