<html ng-app="notTetris">
	<head>
		<link rel="stylesheet" href="css/main.css">
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Something</title>
	</head>

	<body ng-controller="NotTetrisController">

    <!--JuicyAds v2.0-->
    <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=0 height=0 scrolling=no allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=350175></iframe>
    <!--JuicyAds END-->

    	<!--<div id="field_wrapper" class="field">-->
			<!--<div ng-repeat="backBlock in backBlocks" class="back_block {{backBlock.color}}" ng-class="{active: backBlock.active}" id="{{id}}" ng-click="backBlock.active=!backBlock.active"></div>-->
    	<!--</div>-->
    <!--{{redCount}}-{{greenCount}}-{{blueCount}}-->
	</body>

</html>